### Python 2 Vs Python 3

<img src = "https://media.geeksforgeeks.org/wp-content/uploads/20190503154837/Python2_python3.jpg"  width="500" height="600">

In [ ]:
name = "Kumar Rajamoni"
fname = "రామ్"
lname = "కృష్ణుడు"
greet = "नमस्ते"

print(name)

print(fname +" "+lname)

print(greet)

In [ ]:
print(ord("a"),ord("z"))

In [ ]:
print(ord("A"),ord("Z"))

In [ ]:
# chr(number)
# ord(character)

print(ord("a")) 
print(ord("न"))
print(ord("&"))

In [ ]:
print(chr(97))
print(chr(67))

In [ ]:
# bin() hex() oct()

print(bin(15897978999))

In [ ]:
print(hex(16))

In [ ]:
print(oct(16))

In [ ]:
a = 0b101
b = 0b1000
print(a+b)
print(bin(a+b))

#### Python Syntax

 - A Python script can be written in Python interactive shell or in the code editor. A Python file has an extension .py.
 
##### Python Indentation

- An indentation is a white space in a text. 
- Indentation in many languages is used to increase code readability, however Python uses indentation to create block of codes. - In other programming languages curly brackets are used to create blocks of codes instead of indentation.
- One of the common bugs when writing python code is wrong indentation.

In [ ]:
print('good morning')

# syntax window : SHIFT+TAB

In [ ]:
if condition{//start
    
    //block code
}//end


if condition:
    #block of code.
    #block of code2
else:
    #block of else code

In [ ]:
# java
int time = 20;
if (time < 18) {
  System.out.println("Good day.");
} else {
  System.out.println("Good evening.");
}

In [ ]:
# python 

time = 20;
if (time < 18):
    print("Good day.");
    print("Hello")
    #block of scope
else:
    print("Good evening.");
    #block of else

In [ ]:
if 21<20:
    print("lesser")
    print("if block")
#end of if 
else:
    print("greater")
#end of else

In [ ]:
salary = 1909

if salary>1090893:
    print("good salary")
else:
    print("AVG ")

In [ ]:
name = "Kumar"
if name=="Kumar":
    print("IF ELSE")
    print("TRUE")
    if 10>50: #True
        print("nested true")
    else: #False
        print("nested else")
else:
    print("FALSE")

### OUTPUT Function

- It is used to print the information or objects data to the console 

>syntax:


> print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)


- attributes / args
    - value 
    - sep
    - end
    - file 
    - flush

In [ ]:
print()

In [ ]:
print("Hello World Python ..")

In [ ]:
print('Hii Hey')

In [ ]:
print("Jan session")

In [ ]:
print("""Python Session
Jan 
Discussing 
Python print() 
method""")

In [ ]:
print('''
        Python Session
        Jan 
        Discussing 
        Python print() 
        method
        '''
     )

In [ ]:
print('''It's "a" boook''') #It's a book

In [ ]:
print('Hey Geeks') #string

print(10) #int 0-9

print(10.2) #float

print(1+2j) #complex

print(True) #boolean True False

print([10,20,30,40]) #list

print(("IND","NZ","AUS")) #tuple

print({"blue","yellow","red","blue"}) #set

print({"name":"Kumar","course":"Python","fee":10.23893}) #dictionary

In [ ]:
# datatype varName = value;

int age = 26;
float salary = 1282.3793
String name = "Kumar"

#static type , java , c , c++
#they are fixed size

In [ ]:
#varname = value 

name = "Kumar" #str
role = "SDE"   #str
age = 45       #int

print(name)
print(role)
print(age)
print(type(name))
print(type(role))
print(type(age))

age = 37.23

print(age,type(age))

In [ ]:
a = "Kumar"
print(a,type(a))

a = 10
print(a,type(a))

a = 10.2
print(a,type(a))


a = True
print(a,type(a))


a = 1+2j
print(a,type(a))

In [ ]:
print(name,role,age)

In [ ]:
print(name,age,role,sep="-->")

In [ ]:
print(name,age,role,sep=" # ")

In [ ]:
print(name,age,role,sep="\n")

In [ ]:
print(age,name,sep = ",")

In [ ]:
# end = "\n"

for i in range(0,5):
    print(i) #end="\n"

In [ ]:
#end= "\n"
for i in range(5):
    print(i, end = " ")

In [ ]:
#file=sys.stdout -->  screen /monitor

s = open("feb03.txt",mode="a") #append mode

print("Hey Hi Introduction to python",file=s)

In [ ]:
print() #"newline"

In [ ]:
a = 10
b = 30

print(a)
print()
print()
print()
print() #newline because end="\n"
print(b)

In [ ]:
print(value,sep,end,file,flush)

In [ ]:
print("Hello")

In [ ]:
a = print("Hello")
print(a)

In [ ]:
print(print("hello python"))

In [ ]:
b = print()
print(b)

In [ ]:
help(print())

In [ ]:
dir(print)

In [ ]:
#  storing print() calling  in variable
a = print("Hi") #calling


print(a)

In [ ]:
#Very function in Python by default they have to return some value , 

#if they don't return any values, interpreter will return None value.



# print() method by default it will not return any value , interpreter will return NONE by default

In [ ]:
def fun():
    print("Addition is",(10+20))
    
fun()

In [ ]:
r = fun()
print(a)

In [ ]:
def fun1():
    print("am inside fun1 method")
    return 1002.22

r1 = fun1()

print(r1)

In [ ]:
print(print(print("Hi")))

print(print(print()))

### Comments

> Comments are very important to make the code more readable and to leave remarks in our code. Python does not run comment parts of our code. Any text starting with hash(#) in Python is a comment.


####  Single Line Comment

        # This is the first comment
        # This is the second comment
        # Python is eating the world
        
#### Multiline Comment

Triple quote can be used for multiline comment if it is not assigned to a variable

    """This is multiline comment
    multiline comment takes multiple lines.
    python is eating the world
    """

In [ ]:
#print method 

print(10)

#print method for list
#tuple 
#set dictionary

print([10,20])

In [ ]:
#single line comment.
var = "kumar" # var declaration 


#multi line comment
def fun(a,b):
    '''
     this is a function which 
     return addition
    '''
    print(a+b)

In [ ]:
fun(10,20)

In [ ]:
#Take new inputs from keyboard
'''
we are learning python 
comments 
single comments 
multiline comments
'''

In [ ]:
varName = value

## Variables

- Variables store data in a computer memory.
>  Mnemonic variables are recommended to use in many programming languages.
- A mnemonic variable is a variable name that can be easily remembered and associated. 
> A variable refers to a memory address in which data is stored. Number at the beginning, special character, hyphen are not allowed when naming a variable. 

- *A variable can have a short name (like x, y, z), but a more descriptive name (firstname, lastname, age, country) is highly recommended.*

### Rules

Python Variable Name Rules

    - A variable name must start with a letter or the underscore character
    - A variable name cannot start with a number
    - A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
    - Variable names are case-sensitive (firstname, Firstname, FirstName and FIRSTNAME) are different variables)
    - A variable cannot have same name as Reserved word or KEYWORD.

syntax:
    
    variableName = value 
    
    value = strings : "kumar"
    value = integers : 0-9
    value = float  : 0.0 - 9.9 
    value : boolean : True or False
    value : complex : 1+2j

In [ ]:
# firstname
# lastname
# age
# country
# city
# first_name
# last_name
# capital_city
# _if # if we want to use reserved word as a variable
# year_2021
# year2021
# current_year_2021
# birth_year
# num1
# num2

In [ ]:
# first-name
# first@name
# first$name
# num-1
# 1num
#if 
#True

In [3]:
student_name = "Kumar Rajamoni"

print(student_name)

Kumar Rajamoni

In [4]:
#all KEYWORDS..
import keyword

print(keyword.kwlist)

print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [5]:
break = 10#invalid

SyntaxError: invalid syntax (<ipython-input-5-69d6eede3e29>, line 1)

In [1]:
print1 = "Kumar" #invalid

In [3]:
print(print1)

Kumar

In [ ]:
print("Hello world")

In [ ]:
name ="kumar"
salary = 10.2793
scores = [10,20,30,40]

### Styling cases
    - Pascal Case 
        - Every letter will be capital
          used for classes
        ex: StudentName
        
    - Camel case
           Every Second Seq letter will be captial
           we use for functions
        ex: numOfStudents
        
        
    - Snake Case
        - join with _ underscore
        - used for variables

In [4]:

# Variables in Python
first_name = 'Kumar'
last_name = 'Rajamoni'
country = 'India'
city = 'Noida'
age = 25
salary = 60000.09039
is_married = False
skills = ['HTML', 'CSS', 'JS', 'React', 'Python','JAVA']
person_info = {
   'firstname':'Kumar',
   'lastname':'Rajamoni',
   'country':'India',
   'city':'Hyd'
   }

In [10]:
name = "Kumar"

print("My name is: ",name)
print("length is ",len(name))

My name is:  Kumar
length is  5

In [11]:
# Printing the values stored in the variables

print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', person_info)

First name: Kumar
First name length: 5
Last name:  Rajamoni
Last name length:  8
Country:  India
City:  Noida
Age:  25
Married:  False
Skills:  ['HTML', 'CSS', 'JS', 'React', 'Python', 'JAVA']
Person information:  {'firstname': 'Kumar', 'lastname': 'Rajamoni', 'country': 'India', 'city': 'Hyd'}

In [14]:
num = ()
print(num)
print(type(num))

()
<class 'tuple'>

In [15]:
a = 10
b = 10.2
c = "python"
d = 1+7j

print(a , type(a))
print(b, type(b))
print(c , type(c))
print(d, type(d))

10 <class 'int'>
10.2 <class 'float'>
python <class 'str'>
(1+7j) <class 'complex'>

In [16]:
print(first_name, type(first_name) , id(first_name))

Kumar <class 'str'> 1415627986480

In [17]:
print(type(first_name))

print(type(age))

print(type(skills))

<class 'str'>
<class 'int'>
<class 'list'>

In [18]:
age = 35
print(age , type(age))

35 <class 'int'>

In [19]:
age = 67.6
print(age , type(age))

67.6 <class 'float'>

In [20]:
age = "Kumar"
print(age , type(age))

Kumar <class 'str'>

In [22]:
y = 10
print(y)

10

In [24]:
num1 = 11
num2 = 56
print(num1 + num2)

67

In [33]:
print("kumar")
print("10.2")
print("10")
print("True")
print("10+2j")

kumar
10.2
10
True
10+2j

### INPUT FUNCTION
 - input() used to read data from user or any input device.
 - by default it will read all types of data in STRING format as input.
 

Syntax:
    
   >variable_name = input("Prompt")

In [26]:
age = 10 #static declaration
print(age)

10

In [32]:
# dynamic declaration.
age = input("Enter the age : ") #read data(int,float,bool,complex) in str format 
print(age , type(age))

Enter the age : 43
43 <class 'str'>

In [34]:
print(type(45))

print(type("45"))

<class 'int'>
<class 'str'>

In [35]:
num1 = input("Enter num1: ")
num2 = input("Enter num2: ")

print(num1 + num2)

Enter num1: 10
Enter num2: 20
1020

In [36]:
print("10"+"20")

print("Hi"+"Java")

1020
HiJava

In [37]:
age = input('enter a age: ')

print(age , type(age))

age = int(age) #string - int

print(age , type(age))

enter a age: 67
67 <class 'str'>
67 <class 'int'>

In [40]:
age = int(input("Enter the age: "))
print(age,type(age))

Enter the age: 10a

ValueError: invalid literal for int() with base 10: '10a'

In [44]:
print(int("10a"))

ValueError: invalid literal for int() with base 10: '10a'

In [45]:
num1 = int(input("Enter num1: "))
num2 = int(input("Enter num2: "))

print(num1 + num2)

Enter num1: 10
Enter num2: 20
30

In [46]:
a = int(input("enter a value: "))
print(a)

enter a value: 1
1

In [47]:
salary = input("Enter the salary")

salary = float(salary) #casting str---> float
print(salary , type(salary))

Enter the salary10.2783
10.2783 <class 'float'>

In [48]:
score = input()

score = int(score) ##str -- int

print(score, type(score))

10
10 <class 'int'>

In [ ]:
age = int(input("Enter the age: "))
print(age, type(age))

In [ ]:
#prebuild 
    int()
    float()
    str()
    list() , tuple() , set() , dict() , bool() , complex()

In [49]:
first_name = input('What is your name: ')
age = int(input('How old are you? '))

print(first_name)
print(age)

What is your name: kumar
How old are you? 45
kumar
45

In [ ]:
## Declare 5 realtime variables and take input from keyboard
# Just print(value , type , memoryID.)

In [ ]:
University = input("Enter the name of university")
print (University , type (University),id (University))
university_courseduration = int(input("enter course duration: "))
print(university_courseduration , type(university_courseduration) ,id(university_courseduration))

In [ ]:
name = input("enter the name")
address = input("enter address: ")
university_courseduration = int(input("enter course duration: ")
course_fee = float(input("enter the course_fee"))
is_student = bool(input("Are you a student?True/False"))

print (name , type(name) ,id(name))
print(address , type(address) ,id(address)))
print(university_courseduration , type(university_courseduration) ,id(university_courseduration))
print (course_fee, type(course_fee), id(course_fee))
print(is_student , type(is_student) , id(is_student))

In [ ]:
fifa_winner = input("Enter the winner name")
print(fifa_winner , type(fifa_winner) , id(fifa_winner))

messi_score = int(input("enter messi score: "))

print(messi_score , type(messi_score) , id(messi_score) )

In [2]:
FavorateActor = input("Enter the FavorateActor Name : ")
Age = int(input("Enter the favorate actor age : "))
Height = float(input("Enter the Height : "))
is_married = bool(input("Is_he_Married? True/False : "))

print(FavorateActor, type(FavorateActor), id(FavorateActor))
print(Age, type(Age), id(Age))
print(Height, type(Height), id(Height))
print(is_married, type(is_married), id(is_married))

Enter the FavorateActor Name : abc
Enter the favorate actor age : 156
Enter the Height : 267
Is_he_Married? True/False : False
abc <class 'str'> 2530496656560
156 <class 'int'> 140718947318416
267.0 <class 'float'> 2530496586096
True <class 'bool'> 140718947030864

In [7]:
a = 10
b = 20
print(id(a) , id(b))

140718947313744 140718947314064

In [9]:

x = 22
y = 22

print(id(x),id(y))

y = y+2

print(id(x),id(y))

140718947314128 140718947314128
140718947314128 140718947314192

In [10]:
lst = [10,20,30]

lst2 = [10,20,30]

print(id(lst),id(lst2))

2530496472128 2530496525952

In [ ]:
#BASIC 
integer
float 
string
boolean
complex

#SEQUENCE
list
tuple
set
dictionary

## Data Types
    - Which defines the data and representation of real world data.
    - In python we have various types .
    
    
##### Number
- Integer: Integer(negative, zero and positive) numbers Example: ... -3, -2, -1, 0, 1, 2, 3 ...
- Float: Decimal number Example ... -3.5, -2.25, -1.0, 0.0, 1.1, 2.2, 3.5 ...
- Complex Example 1 + j, 2 + 4j


##### String
 - A collection of one or more characters under a single or double quote. If a string is more than one sentence then we use a triple quote.

Example:

    'Asabeneh'
    'Finland'
    'Python'
    'I love teaching'
    'I hope you are enjoying the first day of 30DaysOfPython Challenge'


#### Booleans
- A boolean data type is either a True or False value. T and F should be always uppercase.

Example:

    True  #  Is the light on? If it is on, then the value is True
    
    False # Is the light on? If it is off, then the value is False
    
#### List
Python list is an ordered collection which allows to store different data type items. A list is similar to an array in JavaScript.

    Example:

    [0, 1, 2, 3, 4, 5]  # all are the same data types - a list of numbers
    ['Banana', 'Orange', 'Mango', 'Avocado'] # all the same data types - a list of strings (fruits)
    ['Finland','Estonia', 'Sweden','Norway'] # all the same data types - a list of strings (countries)
    ['Banana', 10, False, 9.81] # different data types in the list - string, integer, boolean and float
    

#### Tuple
 > A tuple is an ordered collection of different data types like list but tuples can not be modified once they are created. They are immutable.
 
 
     Example:
     ('Earth', 'Jupiter', 'Neptune', 'Mars', 'Venus', 'Saturn', 'Uranus', 'Mercury') # planets
     
     
### Set
A set is a collection of data types similar to list and tuple. Unlike list and tuple, set is not an ordered collection of items. Like in Mathematics, set in Python stores only unique items.

        Example:

        {2, 4, 3, 5}
        {3.14, 9.81, 2.7} # order is not important in set
        
        
#### Dictionary
A Python dictionary object is an unordered collection of data in a key value pair format.

    Example:

    {
    'cricketTeamName':'India',
    'Captain':'RS',
    'country':'India', 
    'year':2022, 
    'is_top20':True,
    'Players':['Virat', 'Rohit', 'Bhu', 'Python']
    }

### Integers 
    - any postive or negative whole numbers (-0 ,1 ,9 ,11)

In [14]:
intVar = 922337203685477580700000000000000000000000000000000000000000000000000000000000000000000000

print(intVar, type(intVar))

922337203685477580700000000000000000000000000000000000000000000000000000000000000000000000 <class 'int'>

In [15]:
intVar2 = 1029
print(intVar2)
print(type(intVar2))

1029
<class 'int'>

    Binary          0b or 0B  - bin()
    Octal           0o or 0O - oct()
    hexdecimal     0x or 0X  - hex()

In [ ]:
8BIT REPRESENTATION(0-255)
========================

locations : 7   6  5  4  3  2 1 0 
values:     128 64 32 16 8  4 2 1

In [18]:
print(bin(10))

0b1010

In [19]:
a = 0b1010 #10
b = 0b101  #5

print(a+b)

15

In [20]:
print(bin(10)) #convert any decimal -- binary

0b1010

In [21]:
c = 0o10 #8
d = 0b100 #4

print(c+d)

12

In [22]:
print(oct(8)) #any decimal - octal

0o10

In [23]:
e = 0xA #10
f = 0xB #11

print(e+f)

21

In [25]:
print(hex(11))

0xb

### Float 
    - any decimal points is considered as float datatypes

In [27]:
floatVar = 1.0920992


print(floatVar , type(floatVar))

1.0920992 <class 'float'>

In [28]:
# ex: 10.5*10^5

a = 10.5*(10**5)

print(a)

1050000.0

In [31]:
# e == 10 power 
# e3 = 10^3 == 1000

print(1e-3)

0.001

In [32]:
b = 10.5e5 # e 10^n

print(b)

1050000.0

### Strings 
    - collectional of charcaters (letters , symbols,numbers)
    - we have 3 notations to represent the strings 
        - single quotes   - 'a' 'hello'
        - double quotes   - "Hello World" 
        - triple quotes   - multi line strings

In [33]:
singleQ = 'Hello'
print(singleQ)

Hello

In [ ]:
# It's a book

In [38]:
a = 'It\'s a book'

print(a)

It's a book

In [37]:
b = "It's a book"

print(b)

It's a book

In [45]:
c = "python is "oops" language"

print(c)

SyntaxError: invalid syntax (<ipython-input-45-9c38c1ca8983>, line 1)

In [40]:
c = """python is "oops" language"""

print(c)

python is "oops" language

In [42]:
d = """python is oops
and functional
language"""

print(d)

python is oops
and functional
language

In [43]:
d = '''python is oops
and functional
language'''

print(d)

python is oops
and functional
language

### complex numbers 
    - real+imagj
    - real number is optional
    - imag number is mandatory

In [58]:
comVar = 2+8j

In [59]:
print(comVar , type(comVar))

(2+8j) <class 'complex'>

In [60]:
# dir()

print(dir(comVar))

['__abs__', '__add__', '__bool__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__int__', '__le__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__pos__', '__pow__', '__radd__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmod__', '__rmul__', '__rpow__', '__rsub__', '__rtruediv__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', 'conjugate', 'imag', 'real']

In [61]:
print(dir(""))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [62]:
print(dir(comVar))

['__abs__', '__add__', '__bool__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__int__', '__le__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__pos__', '__pow__', '__radd__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmod__', '__rmul__', '__rpow__', '__rsub__', '__rtruediv__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', 'conjugate', 'imag', 'real']

In [63]:
print(comVar.imag) #attributes

8.0

In [64]:
print(comVar.real)

2.0

In [65]:
print(comVar.conjugate())
#inverse of sign

(2-8j)

In [66]:
comVar.conjugate().conjugate().conjugate()

(2-8j)

In [67]:
a=10
b=20
a+b
a-b

-10

### Boolean
    - True or False values consider as boolean

In [69]:
bol_var = True #1
bol_var2 = False #0

print(bol_var + bol_var2)

print(bol_var * bol_var2)

print(bol_var / bol_var)

1
0
1.0

In [70]:
a=10
a = a+13
print(dir(a))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [72]:
a = 10

print(dir(a))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [76]:
name = "kumaaaar"

print(dir(name))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [77]:
print(name.upper())
print(name.count("a"))

KUMAAAAR
4

In [71]:
num = 10101000101
print(num,type(num))

# count the number of zeros

10101000101 <class 'int'>

In [ ]:
marks = [10,20,30,30,303,20]
salary = [10.2,20.2,20.2]

In [11]:
# a = 01
# print(type(a))

# print(print("hi"))

# numbers = input()

# print(numbers,type(numbers))

# a = 10+2.6
# print(type(a))

name = "kumar"
#print(name+ 26)# str+str , not int+str or str+int 
print(2*"hello") #str*int  or int*str

hellohello

### List 
    - It's a collection & ordered & indexed data type
    - It's stores mutliple items in one variable
    - Indexing 
            postive  0 ---> N-1
            negative -1 ---> -N
    - It's Mutable ---> Changes are allowed
    - declared with []
    - stores hemogeneuous & hetrogenous data types
    
    
    syntax:
    
    varName = [data1,data2,....]

In [12]:
lstNumbers = [0, 1, 2, 3, 4, 5]  # all are the same data types - a list of numbers

print(lstNumbers , type(lstNumbers))


fruits = ['Banana', 'Orange', 'Mango', 'Avocado'] # all the same data types - a list of strings (fruits)


countries = ['Finland','Estonia', 'Sweden','Norway'] # all the same data types - a list of strings (countries)


mixedList = ['Banana', 10, False, 9.81] # different data types in the list - string, integer, boolean and float

[0, 1, 2, 3, 4, 5] <class 'list'>

In [13]:
print(len(fruits))

4

In [14]:
# accessing VarName[loc]  
print(fruits)

print(fruits[2])

['Banana', 'Orange', 'Mango', 'Avocado']
Mango

In [15]:
print(fruits[4-1])

#POSTIVE INDEXING ::: 0 ---> LEN-1

#NEGATIVE  INDEXING : -1 ---> -LEN

Avocado

In [19]:
print(fruits[-6])

IndexError: list index out of range

In [21]:
name = "A n i l k u m a r R a j a m o n i".split()
print(name)

['A', 'n', 'i', 'l', 'k', 'u', 'm', 'a', 'r', 'R', 'a', 'j', 'a', 'm', 'o', 'n', 'i']

In [23]:
name = "A n i l k u m a r R a j a m o n i".split()
print(name)
print(name[0])
print(name.index("R"))
n = len(name)
print(n)
print(name[n-1])
print(name[-1])
print(name[-2])
print(name[-17])

['A', 'n', 'i', 'l', 'k', 'u', 'm', 'a', 'r', 'R', 'a', 'j', 'a', 'm', 'o', 'n', 'i']
A
9
17
i
i
n
A

In [24]:
print(fruits[3])

Avocado

In [25]:
n = len(fruits)

print(fruits[n-1])  #n-1 is the last location

Avocado

In [26]:
print(fruits[-1])

Avocado

In [27]:
print(fruits[-10])

IndexError: list index out of range

In [28]:
print(fruits[-4])

Banana

In [29]:
print(fruits)

['Banana', 'Orange', 'Mango', 'Avocado']

In [30]:
fruits[3] = "pineapple" #mutablity 
print(fruits)

['Banana', 'Orange', 'Mango', 'pineapple']

In [32]:
fruits[4] = "cherry"

IndexError: list assignment index out of range

In [33]:
print(mixedList)

print(mixedList[2])

print(mixedList[-1])

print(type(mixedList[0]))

['Banana', 10, False, 9.81]
False
9.81
<class 'str'>

In [34]:
print(type(fruits))

<class 'list'>

In [35]:
# attributes and methods 
print(dir(fruits))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

### List Method 

    - insertion
         append(obj)
         insert(ind,obj)
         extend([obj1,obj2..])
    - deletion
        pop()
        remove()
    - popular 
        reverse()
        copy()
        clear()
        sort()
        count()
        index()

In [36]:
print(dir([]))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [39]:
countries = ['Finland','Estonia', 'Sweden','Norway']

#append() 

countries.append("India")
print(countries)

countries.append("USA","AUS") #error
print(countries)

['Finland', 'Estonia', 'Sweden', 'Norway', 'India']
['Finland', 'Estonia', 'Sweden', 'Norway', 'India', 'USA']

In [40]:
#insert(indNum,obj)

countries.insert(0,"Indo")
print(countries)

['Indo', 'Finland', 'Estonia', 'Sweden', 'Norway', 'India', 'USA']

In [41]:
countries.insert(-1,"Pak")
print(countries)

['Indo', 'Finland', 'Estonia', 'Sweden', 'Norway', 'India', 'Pak', 'USA']

In [42]:
print(len(countries))
print(countries[-7])

8
Finland

In [45]:
countries.insert(2,"SWIZ")
print(countries)

['BANG', 'Indo', 'SWIZ', 'Finland', 'Estonia', 'Sweden', 'Norway', 'India', 'Pak', 'USA', 'AUS']

In [46]:
# extend([obj1,obj2..])

countries.extend(["Swiz","Cuba"])

print(countries)

['BANG', 'Indo', 'SWIZ', 'Finland', 'Estonia', 'Sweden', 'Norway', 'India', 'Pak', 'USA', 'AUS', 'Swiz', 'Cuba']

In [47]:
a = print("Hello")
print(a)

Hello
None

In [48]:
print(countries)

['BANG', 'Indo', 'SWIZ', 'Finland', 'Estonia', 'Sweden', 'Norway', 'India', 'Pak', 'USA', 'AUS', 'Swiz', 'Cuba']

In [50]:
# pop()
res = countries.pop() #pop() will remove and return the popped element
print(res)

Swiz

In [51]:
print(countries)

['BANG', 'Indo', 'SWIZ', 'Finland', 'Estonia', 'Sweden', 'Norway', 'India', 'Pak', 'USA', 'AUS']

In [52]:
print(countries.pop(3)) # give only valid locations

Finland

In [53]:
# 
num = [1,2,3,4]
num.pop()
num.pop()
num.pop()
num.pop()
print(num)
num.pop()

[]

IndexError: pop from empty list

In [54]:
num = [1,222,30,420]
num.pop(20)

IndexError: pop index out of range

In [55]:
# remove()
print(countries)
countries.remove("Norway")
print(countries)

['BANG', 'Indo', 'SWIZ', 'Estonia', 'Sweden', 'Norway', 'India', 'Pak', 'USA', 'AUS']
['BANG', 'Indo', 'SWIZ', 'Estonia', 'Sweden', 'India', 'Pak', 'USA', 'AUS']

In [56]:
r = countries.remove("AUS")
print(r)

None

In [57]:
print(countries)

['BANG', 'Indo', 'SWIZ', 'Estonia', 'Sweden', 'India', 'Pak', 'USA']

In [58]:
res1 = countries.pop()
print(res1)

USA

In [59]:
print(countries)

countries.remove("USA")

print(countries)

['BANG', 'Indo', 'SWIZ', 'Estonia', 'Sweden', 'India', 'Pak']

ValueError: list.remove(x): x not in list

In [60]:
lst = []

lst.remove("IND")

ValueError: list.remove(x): x not in list

In [61]:
# reverse()
countries.reverse()

print(countries)

['Pak', 'India', 'Sweden', 'Estonia', 'SWIZ', 'Indo', 'BANG']

In [62]:
# sort()
countries.sort()
print(countries)

['BANG', 'Estonia', 'India', 'Indo', 'Pak', 'SWIZ', 'Sweden']

In [63]:
lst = "K u m a r R a J A m o n i".split() #str - list
print(lst)


lst.sort()

print(lst)

##ascii

print(ord("a") , ord("A"))

['K', 'u', 'm', 'a', 'r', 'R', 'a', 'J', 'A', 'm', 'o', 'n', 'i']
['A', 'J', 'K', 'R', 'a', 'a', 'i', 'm', 'm', 'n', 'o', 'r', 'u']
97 65

In [64]:
nums = [1,0,293,2983,262,2982]
nums.sort() #small - big

print(nums)

nums.sort(reverse=True) #True - Desc | False -- Asec

print(nums)

[0, 1, 262, 293, 2982, 2983]
[2983, 2982, 293, 262, 1, 0]

In [65]:
print(lst)

['A', 'J', 'K', 'R', 'a', 'a', 'i', 'm', 'm', 'n', 'o', 'r', 'u']

In [66]:
# count() - display the occurence of a data element.

print(lst)

print(lst.count("a"))

print(lst.count("z"))

['A', 'J', 'K', 'R', 'a', 'a', 'i', 'm', 'm', 'n', 'o', 'r', 'u']
2
0

In [67]:
# index() - return the index number of a data element.

print(lst.index("a")) #return the fist index

4

In [68]:
print(lst.index("z"))

ValueError: 'z' is not in list

In [69]:
# clear()
nums = [10,203,40]
print(nums)
nums.clear()
print(nums)

[10, 203, 40]
[]

In [71]:
print()

In [72]:
nums = [10,203,40]
print(nums)
del nums #deletion from memory
print(nums)

[10, 203, 40]

NameError: name 'nums' is not defined

In [73]:
# copy()

copyVar = countries.copy()

print(copyVar)

print(id(copyVar) , id(countries))

['BANG', 'Estonia', 'India', 'Indo', 'Pak', 'SWIZ', 'Sweden']
2228798610880 2228799177920

In [74]:
copyVar[0] = "SouthAfrica"

print(copyVar)
print(countries)

['SouthAfrica', 'Estonia', 'India', 'Indo', 'Pak', 'SWIZ', 'Sweden']
['BANG', 'Estonia', 'India', 'Indo', 'Pak', 'SWIZ', 'Sweden']

In [ ]:
names = ["Meena","Avinash","Srikanth","Prakash"]

students = names #alias copying

print(id(names) , id(students))

students[0] = "Kumar"

print(names , students)

In [75]:
a = 10
b = a
print(id(a), id(b))

140734039599184 140734039599184

### Tuple 
    - It's also collections and sequence & ordered data types
    - stores multiple items in a single variable.
    - declared with (ele1,ele2 ,ele3...)
    - INDEXING 
        - +VE : 0 - N-1
        - -VE : -1 - -N
    - Immutable : changes not allowed at indexing levels

In [76]:
print(dir(()))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [ ]:
planets = ('Earth', 'Jupiter', 'Neptune', 'Mars', 'Venus', 'Saturn', 'Uranus', 'Mercury') # planets

In [ ]:
print(planets , type(planets))

In [ ]:
print(planets[2])

In [ ]:
print(planets[-1])

In [ ]:
print(planets[-100])

In [ ]:
planets[1] = "Pluto" #error

### tuple methods
    - count()
    - index()

In [ ]:
print(dir(()))

In [ ]:
planets.count("Mars")

In [ ]:
planets.count("Aplha")

In [ ]:
planets.index("Earth")

In [ ]:
planets.index("Pluto")

## Set 
    - It's Un-Ordered & Un-Indexed.
    - Doesn't store the duplicates.
    - declared with {}
    - No Indexing because of No Ordering.
    - Mutable

In [ ]:
teams = {"Ind","Aus","Eng","Bang","Pak","Sa","Sa","Aus"}
print(teams)

In [ ]:
print(teams[0]) #error set' object is not subscriptable

#### set methods
        'add', 'clear', 'copy', 'difference', 'difference_update', 
        'discard', 'intersection', 'intersection_update', 'isdisjoint', 
        'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference',
        'symmetric_difference_update', 'union', 'update'

In [ ]:
print(dir(set()))

In [ ]:
print(teams)

In [ ]:
teams.add("Zimb") #add data to the set.

In [ ]:
print(teams)

In [ ]:
teams.discard("USA") #no element no  error 
print(teams)

In [ ]:
teams.remove("Bang") #no element will throw error
print(teams)

In [ ]:
teams.remove("USA") #raise Error if not a element
print(teams)

In [ ]:
x = {"apple","google","amazon"}
y = {"netflix","google","apple"}

print(x.difference(y))

In [ ]:
#difference()
x = {"apple","google","amazon"}
y = {"netflix","google","apple"}

print(y.difference(x))

In [ ]:
# union()

print(x.union(y))

print(x | y) #pipe symbol

In [ ]:
# intersection
print(x.intersection(y)) #common elements

In [ ]:
print(x)

In [ ]:
print(x.pop())

In [ ]:
{}.pop()
[].pop()
{dict}.pop()

# raise a KeyError

In [ ]:
a = {"iphone12","iphone13","iphone14"}
b = {"ipad9gen","ipadpro","microsoftSurface","iphone16"}

print(a.isdisjoint(b))

In [ ]:
c = {"iphone13","iphone14"}

print(c.issubset(a))

In [ ]:
# remove duplicate elements
lst = [10,20,30,20,20,30,20]

print(len(lst))

In [ ]:
NoDupList = set(lst) #list -- set convertion

print(NoDupList , len(NoDupList))

In [ ]:
seta = {10,20.2,"kumar",True,10+2j,None}

print(seta)

In [ ]:

studentName = []
studentName.append(input("enter student-name"))
studentName.append(input("enter student-name"))
studentName.append(input("enter student-name"))
studentName.append(input("enter student-name"))
print(studentName)

In [ ]:
studentName.insert(0,input("enter name"))

In [ ]:
print(studentName)

In [ ]:
studentName.extend(["John","Ganesh"])
print(studentName)

### Dictionary 
        - Based on key:value
		- Keys should be immutable and unique
			:: Immutable 	
					- str
					- tuple 
					- int , float , complex , boolean
        - Indexing is based on Keys
		##methods 
			- keys()
			- values()
			- items()
			- pop()
			- popitem()
			- update()
			- get()
            
        syntax:
            varName = {
                k1:v1,
                k2:v2,
                ...
                ...
                
                kn:vn
                }

In [ ]:
team = {
    'cricketTeamName' : 'India',
    'Captain' : 'RS',
    'country' : 'India', 
    'year' : 2022, 
    'is_top20' : True,
    'Players' : ['Virat', 'Rohit', 'Bhu', 'Python'],
    'Captain' : "Virat"
    }

print(team , type(team))

In [ ]:

print(type(10))

print(type("kumar"))

print(type([]))

print(type( () ))


print(type(set()))

print(type({}))

In [ ]:
team

In [ ]:
team[0]

In [ ]:
team["Country"]

In [ ]:
print(team.keys())

In [ ]:
print(team['country'])

In [ ]:
print(team["captain"])

In [ ]:
print(team["Players"])

In [ ]:
print(team['year'])

### methods

In [ ]:
#get()
print(team.get('score'))

In [ ]:
print(team["score"]) #fastest

In [ ]:
print(team.get("year","Key not found"))

In [ ]:
["keyname"] --> always should be valid key otherwise raise keyerror
.get("keyname") --> if key is invalid it will print None or some text

In [ ]:
#keys()

print(team.keys())

In [ ]:
#values()
print(team.values())

In [ ]:
#items() --[(K1,V1),(K2,V2)....] list of tuples


print(team.items())

In [ ]:
print(team)

In [ ]:
team.update({"year":"2023"})

print(team)

In [ ]:
team.update({"score1":"100067"})

print(team)

In [ ]:
print(team)

In [ ]:
res = team.pop("year")

print(res)

In [ ]:
print(team)

In [ ]:
print(team.popitem()) #always remove last (k,v)

In [ ]:
# get()
# items()
# keys()
# values()
# pop()
# popitem()
# update()


# NOTE:
    - U can't access invalied key --> Key Error.
    - U can't pop on invalid key --> Key Error.
    - U can't pop on empty dictionary
    - When you try to update invalid key --> it will create a new entry

In [ ]:
# LIST 
lst = [] 

# add india team name  and take input from keyboard.

lst.append(input("Enter the team Name"))

# add aus at 0 location
lst.insert(0,"AUS")

# add ENG , BAN at once at the end of the list
lst.extend(["ENG","BAN"])


# sort the data 

lst.sort()

lst.reverse()

print(lst)


print("index of india is", lst.index("AUS"))

In [ ]:
planets = ("Earth","Mars","Jupiter")

print(planets.count("Venues"))

print(planets.index("Mars"))

In [ ]:
names = {"monica","srinivas"} #mutable

names.add("kumar")

print(names)

In [ ]:
studentName = {
    "name" :"Alex",
    "branch" : "IT",
    "college" : "ABC College",
    "fee" : 19283.3893,
    "isStudent" : True,
    "skills" : ["Web Dev","Java","Python"]
    
}

print(studentName)

In [ ]:
popped_val = studentName.pop("fee")
print(popped_val)

In [ ]:
studentName

In [ ]:
studentName.popitem()

In [ ]:
studentName

In [ ]:
print(studentName["skills"])

In [ ]:
print(studentName["name"])

In [ ]:
print(studentName.get("shijkds","key not found"))

In [ ]:
print(studentName["country"])

## prebuild-functions

- In Python we have lots of built-in functions.
- Built-in functions are globally available for your use that mean you can make use of the built-in functions without importing or configuring.
 > Some of the most commonly used Python built-in functions are the following: 
    -  print(), len(), type(), int(), float(), str(), input(), list(), dict(), min(), max(), sum(), sorted(), open(), file(), help(), and dir().
    
  <img src = "https://s4scoding.com/images/python-built-in-functions.jpg" width= "700" height="800">

In [ ]:
lst = [10,203,20]  

# print(dir(lst))

print(type(lst))

In [ ]:
print(sum(lst))
print(max(lst))
print(min(lst))

In [ ]:
print(help(lst))

In [ ]:
##type()  id()

name = "Kumar"

print(type(name))

age = 10

print(type(age))

person = {"name":"Ram","course":"Python","collge":"ABC"}

print(type(person))


print(id(name) , id(age) , id(person))

In [ ]:
print(type("AK"))

print(type(10))

print(type("10"))

print(type(10.378683))

print(type(True))

print(type([10,203,30]))

print(type((10,203,30)))
      
print(type({10,203,30,30}))

In [ ]:
a = 10,20,304,40
print(type(a))

In [ ]:
#dir()
print(dir([]))

In [ ]:
print(dir(""))

In [ ]:
#  sum()

marks = [10,20,30]

print(sum(marks))

In [ ]:
#max() min()

print(max(marks))

print(min(marks))

In [ ]:
#len() --> list tuple str set dict

print(len(marks))

print(len("Kumar      R"))


print(len(person))

print(len(10)) #error.

In [ ]:
print(a)

In [ ]:
print(ord("H"),ord("i"))

In [ ]:
print(chr(97) , chr(105))

In [ ]:
a = int(input()) #str --> int
b = int(input())
print(a+b)

## Range
    - generate a sequence of integer values 
    - mainly used in for-loops
    - Has 3 params 
            - Start : 0
            - Stop : LEN-1
            - Step : 1
    - range() method gives a object , cast to list() or tuple() for displaying the output.
    - stop param is mandatory & always excluded.

In [ ]:
# range(start,stop,step)

In [ ]:
a = range(1,10,1)
print(a)  #1,2 , 3 ...... 9

In [ ]:
print(list(a))

In [ ]:
print(range(1,5,1))

In [ ]:
a = tuple(range(0,5,1))

print(a)

In [ ]:
a = list(range(1,10,2))

print(a)

In [ ]:
a = list(range(-1,-5,-1))

print(a)

In [ ]:


a = list(range(5))


print(a)

In [ ]:
a = list(range(1,2))

print(a)

In [ ]:
a = list(range(0,20,2))

print(a)

In [ ]:
a = list(range(1,20,2))

print(a)

In [ ]:
list(range())

In [ ]:
list(range(1,1))

In [ ]:
# next value < stop

In [ ]:
list(range(-1,5,1))

In [ ]:
list(range(-1,-5,1))

### Casting
    - Converting one data type to another data type. 
    - We use int(), float(), str(), list(), set() 
    - When we do arithmetic operations string numbers should be first converted to int or float otherwise it will return an error. 
    - If we concatenate a number with a string, the number should be first converted to a string.

In [ ]:
a = input()#reads a string type
b = input()
print(a+b) #string concat or merging

In [ ]:
a = float(input()) #str - float
b = int(input()) # str - int
print(a+b)

In [ ]:
name = "Srinivas"
print(name)
print("Iam ," , name)
print("my name is :  ", name)

In [ ]:
# int to float
num_int = 10
print('num_int',num_int)         # 10
num_float = float(num_int)
print('num_float:', num_float)   # 10.0

# float to int
gravity = 9.81
print(int(gravity))             # 9

# int to str
num_int = 10
print(num_int)                  # 10
num_str = str(num_int)
print(num_str)                  # '10'

# str to int or float
num_str = '10'
print('num_int', int(num_str))      # 10
print('num_float', float(num_str))  # 10.0

# str to list
first_name = 'Kumar'
print(first_name)               # 'Asabeneh'
first_name_to_list = list(first_name)
print(first_name_to_list)            # ['A', 's', 'a', 'b', 'e', 'n', 'e', 'h']

In [ ]:
firstname = "A k n k a a d".split()

print(firstname)

In [ ]:
name = "Kumar Python Tutor"

print(name.split())

In [ ]:
# str - int
stra = "10"

print(int(stra))

In [ ]:
strb = "289892.282"

print(float(strb))

In [ ]:
#str - int "0-9"
# str - float "0.0 -9.9"

print(int(float("10.6")))

In [ ]:
#  int , float , bool , complex - str

a = 10
aConvert = str(a)
print(type(aConvert))
b = 10.2367

print(type(str(b)))


c = True

print(str(c))


d = 10+2j

print(str(d))

In [ ]:
lst = [10,2,3,10,2]
print(lst)

convertList = set(lst)

print(convertList)

In [ ]:
num =19200283083083083038030830839876386923093038
print(num)

In [ ]:
#  small task 
1. read 10 digit integer num from keyboard
    hint: int(input()) 
2. count number of zeros
3. if you don't find zero's print -1

ex: 10205678905
    op: 3 
    1234568791
    op: -1

In [ ]:
# answer

# reading the input
number = int(input('any 10digit  number : '))
print(number)

# convertion int - str
number = str(number)

# appling the method
if number.count('0')>0:
    print("number of zeros : ",number.count('0'))
else:
    print(-1)

In [ ]:
num = 10209

num = str(num)
print(dir(num))

## Strings 
- group of individual or collections of characters
- strings are immutable in python
- Strings have indexing
      +ve : 0 - N-1
      -ve : -1 --> -N
- String supports slicing also.
- In Python Strings can be declared in 3 ways:
        - single quotes  'k'
        - double quotes   "dyamic programmic"
        - triple quotes (mainly used for multi-line strings)
            
      >Text is a string data type. Any data type written as text is a string. Any data under single, double or triple quote are strings. There are different string methods and built-in functions to deal with string data types

In [ ]:
print(type("Hello"))
"10"
"10.22"
"True"
print(type("[10,203,30]"))

# anything inside quotes is a string

#### Creating a String

In [ ]:
letter = 'P'               # A string could be a single character or a bunch of texts
print(letter)               # P
print(len(letter))          # 1

greeting = 'Hello, World!'  # String could be made using a single or double quote,"Hello, World!"
print(greeting)             # Hello, World!
print(len(greeting))        # 13

sentence = "I hope you are enjoying  Python Course"
print(sentence)
print(len(sentence))

In [ ]:
print(ord(" "))

In [ ]:
multiline_string = '''I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created  python course.'''
print(multiline_string)

# Another way of doing the same thing
multiline_string = """I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created python course."""
print(multiline_string)

#### String Concatenation
        - We can connect strings together. Merging or connecting strings is called concatenation.

In [ ]:
first_name = 'Helsinki'
last_name = 'Money Heist'
space = ' '
full_name = first_name  +  space + last_name
print(full_name) 
# Checking the length of a string using len() built-in function
print(len(first_name)) 
print(len(last_name))  
print(len(first_name) > len(last_name))
print(len(full_name))

In [ ]:
#Try this . 

print(first_name + " age  "+40)
# str + int -- Error

In [ ]:
print("Hi "*10)
# str * int

In [ ]:
print("Hi"*"Hello")

In [ ]:
# + both str's
#  * one str and one int

In [ ]:
a=10
b=20
c=20
print(a,b,c)

In [ ]:
print("Kumar","Rajamoni"*10)

#### Escape Sequences in Strings
            In Python and other programming languages \ followed by a character is an escape sequence.

        \n: new line
        \t: Tab means(8 spaces)
        \\: Back slash
        \': Single quote (')
        \": Double quote (")

In [ ]:
print("Hello \n Welcome to Srikanth's \t Home")

In [ ]:
print('I hope everyone is enjoying the Python Challenge.\nAre you ?') # line break
print('Days\tTopics\tExercises') # adding tab space or 4 spaces 
print('Day 1 \t2 \t8')
print('Day 2\t3\t5')
print('Day 3\t3\t5')
print('Day 4\t6\t18')
print('This is a backslash  symbol (\\)') # To write a backslash
print('In every programming language it starts with \"Hello, World!\"') # to write a double quote inside a single quote

### String formatting
    In Python there are many ways of formatting strings.
    
    The "%" operator is used to format a set of variables enclosed in a "tuple" (a fixed size list), together with a format string, which contains normal text together with "argument specifiers", special symbols like "%s", "%d", "%f", "%.number of digitsf".

        %s - String (or any object with a string representation, like numbers)
        %d - Integers
        %f - Floating point numbers
        "%.number of digitsf" - Floating point numbers with fixed precision

In [ ]:
# c syntax
int age = 29;
float salary = 29.28228773793;
printf("%d %f ",age,salary)

In [ ]:
name = input("Enter name: ")
age = int(input("Enter the age: "))
salary = float(input("Enter salary: "))
print("my name is ",name, "age is ",age,"my salary is",salary) #normal 

print("my name is %s , age is %d , my salary is %.2f"%(name,age,salary)) #c based formatting

In [ ]:
# Strings only
first_name = 'Kumar'
last_name = 'R'
language = 'Python'
fee = 10.283893
formated_string = 'I am %s %s. I teach %s and fee is %f' %(first_name, last_name, language,fee)
print(formated_string)

# Strings  and numbers
radius = 7
pi = 3.14
area = pi * radius ** 2
formated_string = 'The area of circle with a radius %d is %.2f.' %(radius, area) # 2 refers the 2 significant digits after the point

print(formated_string)


python_libraries = ['Django', 'Flask', 'NumPy', 'Matplotlib','Pandas']
formated_string = 'The following are python libraries:%s' % (python_libraries)
print(formated_string) #

#### New Style String Formatting (str.format)

In [ ]:
first_name = 'Kumar'
last_name = 'R'
language = 'Python'
fee = 12000

print("I am "+first_name+" "+last_name+". "+"I Teach "+language+"and fee is "+str(fee))

In [ ]:
first_name = 'Kumar'
last_name = 'R'
language = 'Python'
fee = 12000
formated_string = 'I am {} {}. I teach {} and fee is {}'.format(first_name, last_name, language,fee)
print(formated_string)


# print("I am "+first_name+" "+last_name+". "+"I Teach "+language+"and fee is "+fee)

a = 4
b = 3

print('{0} + {1} = {2}'.format(a, b, a + b))
print('{} - {} = {}'.format(a, b, a - b))
print('{} * {} = {}'.format(a, b, a * b))
print('{} / {} = {:.2f}'.format(a, b, a / b)) # limits it to two digits after decimal
print('{} % {} = {}'.format(a, b, a % b))
print('{} // {} = {}'.format(a, b, a // b))
print('{} ** {} = {}'.format(a, b, a ** b))

#### f-string

In [ ]:
print("Iam %s %s. I Teach %s and fee is %d"%(first_name, last_name, language,fee))

In [ ]:
print('I am {} {}. I teach {} and fee is {}'.format(first_name, last_name, language,fee))

In [ ]:
print(f'I am {first_name} {last_name} I Teach {language} and fee is {fee}')

In [ ]:
name = "Kumar"
age =18

print(f'my name is {name} age is {age}')

In [ ]:
#### Another new string formatting is string interpolation, f-strings. 
# Strings start with f and we can inject the data in their corresponding positions 
# supported from 3.6+

a = 4
b = 3
print(f'{a} + {b} = {a +b}')
print(f'{a} - {b} = {a - b}')
print(f'{a} * {b} = {a * b}')
print(f'{a} / {b} = {a / b:.2f}')
print(f'{a} % {b} = {a % b}')
print(f'{a} // {b} = {a // b}')
print(f'{a} ** {b} = {a ** b}')

In [ ]:
age = 19
print(f"my age is {age}")

In [ ]:
name = "Alex"
print(name)
print(len(name))

print(name[0])

print(name[-1])
# print(name[10])

name[2] = "k"  #immutable

print(name)

### Accessing Characters in Strings by Index
    In programming counting starts from zero. Therefore the first letter of a string is at zero index and the last letter of a string is the length of a string minus one.
       strLang = "Python"
       
<img src="https://res.cloudinary.com/practicaldev/image/fetch/s--A7oqOWqx--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://thepracticaldev.s3.amazonaws.com/i/1wr90mjnil60r7226bgq.png" width="400" height="400">

In [ ]:
language = 'Python'
first_letter = language[0]
print(first_letter) # P

second_letter = language[1]
print(second_letter) # y

last_index = len(language) - 1

last_letter = language[last_index]
print(last_letter) # n

In [ ]:
language = 'Python'

last_letter = language[-1]
print(last_letter) # n

second_last = language[-2]
print(second_last) # o

In [ ]:
print(language[6])

#### Slicing Python Strings
    - Extracting specific data.
    syntax:
        [start:stop:step]
    - start : 0 (default)
    - stop : LEN-1
    - step : 1 
    
    negative:
         - start : -1 (default)
        - stop : -LEN-1
        - step : - 1 
    
    
    note: STOP is exculsive not included

In [ ]:
name = "kumarRajamoni"

print(len(name))

print(name[0])

print(name[-1])

print(name[0:4:1])

print(name[:6])#[0:6:1]

print(name[2:]) #[2:len-1:1]

print(name[-1:-5:-2])

print(name[-1:-len(name)-1:-1])
print(name[::-1]) #start : -1 . stop: (-N-1)


print(name[::])#[0:LEN-1:1]

print(name)

In [ ]:
lang = "Python"

print(lang[0])
print(lang[-1])

print(lang[0:4:1])

print(lang[-1:-4:-1])

print(lang[::2])

print(lang[2:])

print(lang[:3])

print(lang[:100])

print(lang[::-1])

print(lang[::1])

print(lang[::])

In [ ]:
print(name)
print(name[0:len(name):1])
print(name[::1])
print(name[0::])
print(name[:len(name)])

In [ ]:
print(name)
n = len(name)
print(n)
print(name[-1:-4:-1])

print(name[::-1])  # start -1 , stop : -N-1 step:-1

print(name[-1:(-n-1):-1])

In [ ]:
marks = [10,203,30]

marks = marks[::-1]

print(marks)

In [ ]:
name = "Kumar"
# for loop /while loop
# methods
# slicing

print(name[::-1]) #reverse


teamNames = ["india","Pak","Aus"]

print(teamNames[::-1])

In [ ]:
language = 'Python'
first_three = language[0:3] # starts at zero index and up to 3 but not include 3
print(first_three) #Pyt

last_three = language[3:6]
print(last_three) # hon
# Another way

last_three = language[-3:]
print(last_three)   # hon

last_three = language[3:]
print(last_three)   # hon

In [ ]:
# Reversing a String
greeting = 'Hello, World!'
print(greeting[::-1]) # !dlroW ,olleH

In [ ]:
print(dir({}))

In [ ]:
print(dir(""))

In [ ]:
print(help(""))

### String Methods
  - **regular methods:**
    - capitalize()
    - count()
    - endswith()
    - startswith()
    - expandtabs() 
    - find()
    - rfind()
    - index()
    - rindex()
    - title()
    - replace()
    - upper()
    - lower()
        
- **checking methods:**
    - isalnum()
    - isalpha() 
    - isdecimal()
    - isdigit()
    - isnumeric()
    - isidentifier()
    - islower()
    - isupper()
        
- **covertion methods**
    - split() : str --> list
    - join()  : list --> str

In [ ]:
# capitalize(): Converts the first character of the string to capital letter

challenge = 'thirty days of python'
print(challenge.capitalize()) # 'Thirty days of python'
print(challenge)

In [ ]:
# count(): returns occurrences of substring in string, count(substring, start=.., end=..). 
# The start is a starting indexing for counting and end is the last index to count.

challenge = 'thirty days of python'

print(challenge.count('y')) # 3
print(challenge.count('y', 7, 14)) # 1, 
print(challenge.count('th')) # 2

In [ ]:
print(challenge.count("z"))

In [ ]:
# endswith(): Checks if a string ends with a specified ending
challenge = 'thirty days of python'

print(challenge.endswith('on'))   # True
print(challenge.endswith('tion')) # False

In [ ]:
# expandtabs(): Replaces tab character with spaces, default tab size is 8. It takes tab size argument

challenge = 'thirty\tdays\tof\tpython'

print(challenge.expandtabs())   # 'thirty  days    of      python'
print(challenge.expandtabs(10)) # 'thirty    days      of        python'

In [ ]:
challenge= "thirtydaysofpython"
print(len(challenge))

challenge = 'thirty\tdays\tof\tpython'
print(len(challenge))

print(len(challenge.expandtabs()),challenge.expandtabs())

print(len(challenge.expandtabs(10)),challenge.expandtabs(10))

In [ ]:
# find(): Returns the index of the first occurrence of a substring, if not found returns -1


challenge = 'thirty days of python'
print(challenge.find('y'))  # 5
print(challenge.find('th')) # 0

In [ ]:
print(challenge.find("z"))

# task 
# find lastIndex of a character

In [ ]:
# rfind(): Returns the index of the last occurrence of a substring, if not found returns -1

challenge = 'thirty days of python'
print(challenge.rfind('y'))  # 16
print(challenge.rfind('th')) # 17

In [ ]:
discard() - Nothing
remove() - If ele not there , raise Error


find() , if ele/char/sub is not there --> -1
index()  , if ele/charsub is not there ---->Error.

In [ ]:
# index(): Returns the lowest index of a substring, additional arguments indicate starting and ending index (default 0 and string length - 1). 
# If the substring is not found it raises a valueError.

challenge = 'thirty days of python'
sub_string = 'da'
print(challenge.find("y"))
print(challenge.index('y'))  # 7
print(challenge.index(sub_string)) #error

In [ ]:
print(challenge.index("k"))

In [ ]:
# rindex(): Returns the highest index of a substring, additional arguments indicate 
# starting and ending index (default 0 and string length - 1)

challenge = 'thirty days of python'
sub_string = 'da'

print(challenge.rindex(sub_string))  # 8
print(challenge.rindex("y")) # error

In [ ]:
find()
rfind() ---> Returns highest index of a sub/charcter

index()
rindex()  --> Returns highest index of a sub/charcter

In [ ]:
challenge = 'thirty days of python'

print(challenge.index("y"))

print(challenge.rindex("y"))


print(challenge.find("y"))

print(challenge.rfind("y"))


print(challenge.index("y",0,6))

print(challenge.rindex("y",0,6))


print(challenge.find("y",0,6))

print(challenge.rfind("y",0,6))

In [ ]:
# title(): Returns a title cased string

challenge = 'thirty days of python'
print(challenge.title()) # Thirty Days Of Python

In [ ]:
# swapcase(): Converts all uppercase characters to lowercase and all lowercase characters to uppercase characters

challenge = 'thirty days of python'
print(challenge.swapcase())   # THIRTY DAYS OF PYTHON

challenge = 'Thirty Days Of Python'
print(challenge.swapcase())  # tHIRTY dAYS oF pYTHON

In [ ]:
# startswith(): Checks if String Starts with the Specified String

challenge = 'thirty days of python'
print(challenge.startswith('thirty')) # True

challenge = '30 days of python'
print(challenge.startswith('thirty')) # False

In [ ]:
# strip(): Removes all given characters starting from the beginning and end of the string

name = "        Kumar            "

print( len(name) )

name = name.strip()
print( len(name) )


challenge = 'thirty days of pythoonnn'
print(challenge.strip('python')) # 'irty days of py'

In [ ]:
# replace(): Replaces substring with a given string

challenge = 'I Like to code In Python'
print(challenge.replace('Scala', 'Java')) # 'thirty days of coding'

In [ ]:
# upper 

challenge = 'I Like to code In Python' 

print(challenge.upper())


challenge = "i LIKE to CODE ruby"

print(challenge.lower())


print(challenge.title())

print(challenge.swapcase())

In [ ]:
# checking methods --> True/False
    - validation

In [ ]:
'a'
"10"
"10.2"
"Kumar@123"

always starts is keyword ---> True/False

In [ ]:
# isalnum(): Checks alphanumeric character(a-zA-Z 0-9)

challenge = 'ThirtyDaysPython'
print(challenge.isalnum()) # True

challenge = '30DaysPython'
print(challenge.isalnum()) # True

challenge = 'thirty days of python'
print(challenge.isalnum()) # False, space is not an alphanumeric character

challenge = 'thirty days of python 2019'
print(challenge.isalnum()) # False

In [ ]:
# isalpha(): Checks if all string elements are alphabet characters (a-z and A-Z)

challenge = 'thirty days of python'
print(challenge.isalpha()) # False, space is once again excluded

challenge = 'ThirtyDaysPython'
print(challenge.isalpha()) # True

num = '123akkak'
print(num.isalpha())      # False

In [ ]:
# isdecimal(): Checks if all characters in a string are decimal (0-9)

challenge = 'thirty days of python'
print(challenge.isdecimal())  # False

challenge = '123'
print(challenge.isdecimal())  # True

challenge = '\u00B2'
print(challenge.isdigit())   # False

challenge = '12 3'
print(challenge.isdecimal())  # False, space not allowed

In [ ]:
# isdigit(): Checks if all characters in a string are numbers (0-9 and some other unicode characters for numbers)

challenge = 'Thirty'
print(challenge.isdigit()) # False

challenge = '30'
print(challenge.isdigit())   # True

challenge = '\u00B2'
print(challenge.isdigit())   # True

In [ ]:
special_char = " !@#$%^&*(){}[]"

In [ ]:
# isnumeric(): Checks if all characters in a string are numbers or number related (just like isdigit(), just accepts more symbols, like ½)

num = '10'
print(num.isnumeric()) # True

num = '\u00BD' # ½
print(num.isnumeric()) # True

num = '10.5'
print(num.isnumeric()) # False

In [ ]:
VARIABLS_RULES
=======================
1. starts with letters or _ 
2. can't start with numbers
3. No keywords 
4. we can have combination of alpha+numeric+_
5. case sensitive

In [ ]:
# isidentifier(): Checks for a valid identifier - it checks if a string is a valid variable name

challenge = '30DaysOfPython'
print(challenge.isidentifier()) # False, because it starts with a number

challenge = 'thirty_days_of_python'
print(challenge.isidentifier()) # True

In [ ]:
print("*3Java_version".isidentifier())

In [ ]:
# islower(): Checks if all alphabet characters in the string are lowercase

# isupper(): Checks if all alphabet characters in the string are uppercase


challenge = 'string methods'
print(challenge.islower()) # True

challenge = 'MetaVerse'
print(challenge.islower()) # False


challenge = 'Python Is OOPs Lang'
print(challenge.isupper()) #  False

challenge = 'PYTHON VERSION'
print(challenge.isupper()) # True

In [ ]:
# split(): Splits the string, using given string or space as a separator

challenge = 'python is interprted functional scripting language'
print(challenge.split()) #str - list

challenge = 'current,version,of,python,3.11'
print(challenge.split(',')) #str --list

In [ ]:
name = "Kumar Rajamoni"

print(name.split())

name = "A l e x"
print(name.split())

In [ ]:
# read mutliple integers using input method

a = int(input())
print(a)

In [ ]:
numbers = input()
print(numbers)
print(type(numbers))

In [ ]:
print(numbers[0:2])

In [ ]:
"10 203 30"[0:2]

In [ ]:
lstNum = numbers.split()
print(lstNum)
print(lstNum[2])

In [ ]:
integerNum = input().split()

print(integerNum)

In [ ]:
even= [] 
for i in range(0,10,2):
    even.append(i)
    
print(even)

In [ ]:
lstNum = input().split()

print(lstNum)

In [ ]:
integerNum =  map(int,input().split())

integerNum = list(integerNum)
print(integerNum)

In [ ]:
syntax:
    varName = map(fun,iterable)
    fun : int , float , bool
    iterable: list or tuple

In [ ]:
integerNum =  list(map(float,input().split()))#map(fun,iterable)--- return map object


print(integerNum)

In [ ]:
# basic way
lst = []
for i in range(3):
    lst.append(int(input()))

In [ ]:
### basic way using lst indexing
lst = [0]*3
print(lst)
for i in range(3):
    lst[i] = int(input())
print(lst)

In [ ]:
lst = []
lst[0] = 10

In [ ]:
print(lst)

In [ ]:
# join(): Returns a concatenated string

web_tech = ['HTML', 'CSS', 'JavaScript', 'React']
 
result = ' '.join(web_tech) #list -- str
print(result)

In [ ]:
web_tech = ['HTML', 'CSS', 'JavaScript', 'React']
 
result = '-->'.join(web_tech) #list -- str
print(result)

In [ ]:
# Try to do revese of a String
    note: don't apply slicing

### Operators 
    - Python language supports several types of operators
    - Operator is symbol which applies on operands 
        ex: a + b ==> a, b operands , + : operator.
        
### Assignment Operators.
        Assignment operators are used to assign values to variables
  
  <img src = "https://www.devopsschool.com/blog/wp-content/uploads/2020/08/assignment-operator-in-python.png" height="600" width="600">

In [ ]:
price = 12

# increase 2rs 
price = price + 2

# decrease 5 rs
price = price - 5 


print(price)

In [ ]:
price = 12

# increase 2rs 
price += 2 #price = price+2

# decrease 5 
price -= 5  #price = price - 5


print(price)

### Arithmetic Operators:
    - Used to perform arthimetic & mathmatical operations.
    Addition(+): a + b
    Subtraction(-): a - b
    Multiplication(*): a * b
    Division(/): a / b
    Modulus(%): a % b
    Floor division(//): a // b
    Exponentiation(**): a ** b
    
<img src = "https://www.devopsschool.com/blog/wp-content/uploads/2020/08/arithmetic-operation-in-python.png" height="700" width="700">

In [ ]:
# Arithmetic Operations in Python
# Integers

print('Addition: ', 1 + 2)        # 3
print('Subtraction: ', 2 - 1)     # 1
print('Multiplication: ', 2 * 3)  # 6
print ('Division: ', 4 / 2)       # 2.0  Division in Python gives floating number
print('Division: ', 6 / 2)        # 3.0         
print('Division: ', 7 / 2)        # 3.5
print('Division without the remainder: ', 7 // 2)   # 3,  gives without the floating number or without the remaining
print ('Division without the remainder: ',7 // 3)   # 2
print('Modulus: ', 3 % 2)         # 1, Gives the remainder
print('Exponentiation: ', 2 ** 3) # 8 it means 2 * 2 * 2

In [ ]:
# TASK 
How negative modulus 
How negtaive // integer division.

will work?

In [ ]:
print(10%3) # 10 = 3*3+1
print(5%2) # 5 = 2*2+1

In [ ]:
print(-5%2)

In [ ]:
print(-10%3)

In [ ]:
print(10//3)
print(5//2)

In [ ]:
print(-10//3)
print(-5//2)

In [ ]:
# Floating numbers
print('Floating Point Number, PI', 3.14)
print('Floating Point Number, gravity', 9.81)

In [ ]:
# Complex numbers
print('Complex number: ', 1 + 1j)
print('Multiplying complex numbers: ',(1 + 1j) * (1 - 1j))

In [ ]:
# Declaring the variable at the top first

a = 3 # a is a variable name and 3 is an integer data type
b = 2 # b is a variable name and 3 is an integer data type

# Arithmetic operations and assigning the result to a variable
total = a + b
diff = a - b
product = a * b
division = a / b
remainder = a % b
floor_division = a // b
exponential = a ** b

# I should have used sum instead of total but sum is a built-in function - try to avoid overriding built-in functions
print(total) # if you do not label your print with some string, you never know where the result is coming from
print('a + b = ', total)
print('a - b = ', diff)
print('a * b = ', product)
print('a / b = ', division)
print('a % b = ', remainder)
print('a // b = ', floor_division)
print('a ** b = ', exponential)

In [ ]:
print(0/10)  #0/anything --> 0

print(20/0) #anything/0 ---> undefined

In [ ]:
print(10%3)

print(25%2)

print(4%4)

print(50%100)

print(10%0)

In [ ]:
# NOTE : 
1. Numerator<Demo ---> Answer is Numerator
2. Numerator == Demo --> 0
3. Numerator> Demo (get remainder doing division method)
4. Demo == 0 --> Raise Error

In [ ]:
# Calculating area of a circle
radius = 10                                 # radius of a circle
area_of_circle = 3.14 * radius ** 2         # two * sign means exponent or power
print('Area of a circle:', area_of_circle)

# Calculating area of a rectangle
length = 10
width = 20
area_of_rectangle = length * width
print('Area of rectangle:', area_of_rectangle)

# Calculating a weight of an object
mass = 75
gravity = 9.81
weight = mass * gravity
print(weight, 'N')                         # Adding unit to the weight

# Calculate the density of a liquid
mass = 75 # in Kg
volume = 0.075 # in cubic meter
density = mass / volume # 1000 Kg/m^3

print(density)

### Comparison Operators
        - comparison operators to compare two values. We check if a value is greater or less or equal to other value. 
        - Result is always Either True or False
        - Can be used to compare Values & Objects
        - can be applied on integers , floats , strings
        
 <img src = "https://www.devopsschool.com/blog/wp-content/uploads/2020/08/relational-operator-in-python.png" width="700" height="700">

In [ ]:
print(3 > 2)     # True, because 3 is greater than 2
print(3 >= 2)    # True, because 3 is greater than 2
print(3 < 2)     # False,  because 3 is greater than 2
print(2 < 3)     # True, because 2 is less than 3
print(2 <= 3)    # True, because 2 is less than 3
print(3 == 2)    # False, because 3 is not equal to 2
print(3 != 2)    # True, because 3 is not equal to 2


print(len('mango') == len('avocado'))  # False
print(len('mango') != len('avocado'))  # True
print(len('mango') < len('avocado'))   # True
print(len('milk') != len('meat'))      # False
print(len('milk') == len('meat'))      # True
print(len('tomato') == len('potato'))  # True
print(len('python') > len('dragon'))   # False


# Comparing something gives either a True or False

print('True == True: ', True == True)
print('True == False: ', True == False)
print('False == False:', False == False)

In [ ]:
1. = is used for assignment 
ex: varName = value 

2. == is used for comparision 
ex: 10 ==12

In [ ]:
print(10.2>6.5)

In [ ]:
print('a'>'A')

In [ ]:

print(ord('a') , ord('A'))

### Identity Operator 
        is: Returns true if both variables are the same object(x is y)
        is not: Returns true if both variables are not the same object(x is not y)
    
### MemberShip Opeator
        in: Returns True if the queried list contains a certain item(x in y)
        not in: Returns True if the queried list doesn't have a certain item(x not in y)

In [ ]:
print('1 is 1', 1 is 1)                   # True - because the data values are the same
print('1 is not 2', 1 is not 2)           # True - because 1 is not 2
print('A in Asabeneh', 'A' in 'Asabeneh') # True - A found in the string
print('B in Asabeneh', 'B' in 'Asabeneh') # False - there is no uppercase B
print('coding' in 'coding for all') # True - because coding for all has the word coding
print('a in an:', 'a' in 'an')      # True
print('4 is 2 ** 2:', 4 is 2 ** 2)   # True

In [ ]:
a = 10
b = 10 
print(a is b)
print(a is not b)

print(id(a) , id(b))
b +=2
print(id(a) , id(b))


c = 30
d = 56

print(c is d)
print(c is not d)

print(id(c) , id(d))

In [ ]:
a = 10 
b = 10

del a
print(b)

In [ ]:
a = [10,20,30]
b = [10,20,30]

print(a is b)
print(id(a), id(b))

In [ ]:
print("Kumar" in "KUmar rajamoni")

In [ ]:
print(10 in [10,20,304,20])
print(100 not in [10,20,304,20,100])

In [ ]:
print("age" in {"name":"John","age":30})
# in operator on dictionary will search only keys

### Logical Operators
    Logical operators are used to combine conditional statements:
<img src = "https://1.bp.blogspot.com/-k27I3cNB6zE/XYTAZv3C07I/AAAAAAAAAy0/KobVTHHhCJUVpg7D19HhI4ddrh0IU5GKgCLcBGAsYHQ/s1600/LogicalOperators.png" height="600" width="600" >

In [ ]:
print(type("Kumar"))


print(type(["Kumar","Rajamoni"]))

In [ ]:
name = "fury"
passwd = 1234
print(type(name),type(['fury'] ))


print(name == ['fury'] and passwd == 1234) #both

print(name =="fur" or passwd == 1234) #atleast 

print(not (name =="fury" and passwd==1234))

In [ ]:
#login application 

database = {"username":"kumar","passwd":"kumar123"}

username = input("Enter the username: ")

passwd = input("Enter the passsword: ")

if username != database["username"]:
    print("Invalid username")
if passwd != database["passwd"]:
    print("Invalid passwd")
    
if username == database["username"] and passwd == database["passwd"]:
    print("Login Success")

else:
    print("Invalid Creds")

###  Bitwise 

    Bitwise operator is used to compare the Binary bits 

    Operator 	Name 	Description

    (& ) 	AND 	Sets each bit to 1 if both bits are 1

    (|) 	OR 	Sets each bit to 1 if one of two bits is 1

     (^)	XOR 	Sets each bit to 1 if both bits are different , otherwise 0

    (~ ) 	NOT 	Inverts all the bits (only for not operand)

    A  B     AND  OR  NOT XOR
    0 0     0    0     1    0
    0 1     0    1     1    1
    1 0     0    1     0    1
    1 1     1    1     0    0

In [ ]:
    
print(bin(25))

In [ ]:
#representing
# 8 bit (0-255)

#table 

loations : 7   |6  | 5 |4 | 3 | 2 | 1 |0 #2 powers locations 00000110

values :   128 |64 |32 |16| 8 | 4 | 2  |1    min =0 max = 255

In [ ]:
# bin() -- gives binary notation value of decimal no.
print(bin(69))
print(bin(20))
print(bin(37))
print(bin(57))
print(bin(222))

In [ ]:
a = 3
b = 4

# 3 - 0 1  1
# 4 - 1 0  0
# -----------------
#     0  0   0
# 
## AND 000

## OR 111

##EXOR 111

## NOT 100

print(a & b)

print(a | b)

print(a ^ b)

#sign bit 

#0 -ve
#1 +ve

In [ ]:
a = 3 #011
print(bin(a))
    
print(~a) #a=3 #100

# 3 011
#
# invert
# - (011+1) #doing the 1's compliment
#- 100 = -4

In [ ]:
# Right Shift 

# Bitwise right shift: Shifts the bits of the number to the right and fills 0 on voids left as a result. 
# Similar effect as of dividing the number with some power of two.
# n//2^bits

a = 10
print(a>>2)

#00001010 =>10
# after shifting 2bits to the Right

#00000010 =>2

# 00000010

In [ ]:
print(10//(2**2))

In [ ]:
#left shift

# Bitwise left shift: Shifts the bits of the number to the left and fills 0 on voids right as a result. 
# Similar effect as of multiplying the number with some power of two.

# n*2^bits
# 10*2**2

a = 10
print(a<<2)

# 8bit
#00001010 =>10
#00010100 = 20

# after shifting 1 bit to the left

#00010100 =>20

In [ ]:
print(10*(2**2))

In [ ]:
exp = 10 -20*2
print(exp)

### Operator Precedence

- When dealing with operators in Python we have to know about the concept of Python operator precedence and associativity 
- as these determine the priorities of the operator otherwise, we’ll see unexpected outputs.

#### Operator Precedence:
        This is used in an expression with more than one operator with different precedence to determine which operation to perform first


<img src = "https://learningmonkey.in/wp-content/uploads/2021/05/Operator-Precedence-and-Associativity-in-Python.jpg">

In [ ]:
print(10+20*30/10)

In [ ]:
a = (10+20) * 30/10

print(a)

In [ ]:
a =  2+3*8/2-10**4%2//10

print(a)

In [ ]:
name = "Ak"
age = 0
  
if name == "Ak" or name == "John" and age >= 2 : 
  print("Hello! Welcome.")
else :
  print("Good Bye!!")

In [ ]:
name = "Ak"
age = 0
  
if ( name == "Ak" or name == "John" ) and age >= 2 :
  print("Hello! Welcome.")
else :
  print("Good Bye!!")

##### Operator Associativity: 
    If an expression contains two or more operators with the same precedence then Operator Associativity is used to determine. 
        It can either be Left to Right or from Right to Left.

In [ ]:
print(200 / 10 * 10)

In [ ]:
print(5 - 2 + 3)

In [ ]:
#right to left
print(2 ** 3 ** 2)

### doubts

In [ ]:
a = 10
b = 10
print(a is b)
del a 
print(b)

In [ ]:
a=10
c = a

# print(a is c)
del a

print(c)
print(a)

In [ ]:
lst = [10,20]

lst2 = lst
print(lst)

del lst
print(lst2)
print(lst)

In [ ]:
a = 10+2j

b = str(a)

print(b,type(b))
print(b[0])

In [ ]:
name = "Kumar"

print(name)

In [ ]:
print(str(a),type(a))

In [ ]:
a = str(a)

print(a,type(a))

In [ ]:
name = "Ravi"

print(name[0:])
print(name[-1:])

In [ ]:
language = "Python OOP's"

print(len(language))
last_three = language[-3::-1]
print(last_three)
print(language[12])

In [ ]:
list(range(0,20,2))

In [ ]:
print(last_three)

In [ ]:
for i in range(0,len(language),1):
    print(i,language[i])

In [ ]:
name = "Ravi Teja"

print(name.find("z"))
print(name.rfind("z"))

In [ ]:
name = "Ravi Teja"

print(name.index("vi",2))
print(name.rindex("a"))

In [ ]:
a = 4
b = 3
print('{1} + {0} = {2}'.format(a, b, a + b,a-b,a*b,a/b))

In [ ]:
sub_string = "vi"
print(name.index(sub_string,3)) #error

In [ ]:
challenge = '\u00A3'
print(challenge)
print(challenge.isdigit())   # True

In [ ]:
name = "Rav      Teja"
print(name.strip("v"))
print(len(name))
print(len(name.strip()))

In [ ]:
name = "Kumar Rajamoni"
print(name.strip("K"))

In [ ]:
1. expandstab()

In [ ]:
name = "Ravi".split()

In [ ]:
print(name)
name.reverse()
print(name)

In [ ]:
print("".join(name))

In [ ]:
name = "Radha"

print(reversed(name))
print("".join(reversed(name)))

In [ ]:
dup = ""

for i in range(0,len(name)):
    dup=name[i]+dup
print(dup)

In [ ]:
""+"R" --> "R"
"a"+"R" -->"aR"
"d"+"aR" -->"daR"
"h"+"daR"--> "hdaR"